/*******************************************************
    SCSS
*******************************************************/

/*============== 01. Media Query ===============*/

$media: (
  xxl: 1400px,
  xl: 1200px,
  lg: 1199.98px,
  md: 991.98px,
  sm: 767.98px,
  mb: 575.98px
);

@mixin media($breakpoint) {

  @each $breakpoints,
  $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (max-width: $size) {
        @content;
      }
    }
  }
}

/*============== 02. Other ===============*/

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}