.about {

	grid-area: main;

	h1 {
		@include rfs(7.5rem, font-size);
		text-transform: uppercase;
		color: var(--color-secondary);
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
		grid-gap: 1em;
		margin: 1em 0;
		text-transform: uppercase;

		& h2 {
			color: var(--color-secondary);
			display: flex;
			grid-gap: 10px;
			align-items: center;
		}

		& .content__enterview,
		.content__faq {
			display: flex;
			flex-direction: column;
			gap: 1em;
			color: var(--color-secondary);
		}

		& .content__faq h2 span {
			color: #f9dca5;
			font-weight: var(--weight-regular);
			font-size: 15px;
		}
	}

	& .question_answer {
		display: flex;
		flex-direction: column;
		gap: 1em;
		@include rfs(1rem, font-size);

		& h3 {
			font-weight: var(--weight-medium);
		}
	}
}