.contact {
	display: grid;
	// grid-template-columns: 0.7fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 100%;
	height: 100vh;

	@include media(sm) {
		grid-template-columns: none;
	}

	&__background {
		width: 100%;
		height: 100%;
		position: relative;


		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		& .header {
			padding: 1rem;

			&__desktop {
				z-index: 1;
			}
		}




		& a {
			color: var(--color-secondary);
			text-transform: uppercase;
		}
	}

	&__information {
		@include rfs(1rem, padding);


		display: flex;
		flex-direction: column;
		text-transform: uppercase;
		background: var(--color-primary);
		color: var(--color-secondary);
		grid-gap: 1em;

		&>span {
			@include size(100%);
		}

		& a {
			color: var(--color-secondary);
			font-weight: var(--weight-regular);
		}

		& .information__links {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin: 0 0 1em 0;
			gap: 1em;

			& .links__address {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}

			& .links__social {
				@extend .links__address;
			}

		}

		& .information__message {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
			position: relative;

			& span {
				margin: 1em 0 0 0;
			}

			& .line {
				position: absolute;
				width: calc(100vw - 2px);
				color: #ffffff26;
				top: -10px;
				right: -1rem;

				@include media(mb) {
					position: absolute;
					right: 0;
					width: 100%;
				}
			}

			& h2 {
				@include rfs(7.5rem, font-size);

				align-self: flex-end;
				width: 100%;

				@include media(lg) {
					@include rfs(5rem, font-size);
				}
			}


		}
	}
}