.gallery {
	height: 100%;
	display: flex;

	& .is-gallery {
		display: flex;
		align-items: center;

		& .styles-module_item-container__a8zaY {
			display: flex;
			justify-content: center;
		}

		& .styles-module_item-provider__YgMwz {
			cursor: inherit;
		}

		&>div:nth-child(1) {
			@extend %btn;
		}

		&>div:nth-child(3) {
			@extend %btn;

			& svg {
				transform: rotate(180deg);
			}
		}
	}

}