$traslateY: 4px;
$traslateY-min: 0px;
$rotate: 40deg;
$rotate-min: 0deg;
$width: 25px;
$width-min: 15px;

%button-style {
	background: var(--color-secondary);
	height: 3px;
	display: block;
	width: $width;
	border-radius: 2em;
	align-self: flex-end;
	transition: all .3s ease-in-out;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	grid-area: header;

	& h3 {
		color: var(--color-secondary);
		z-index: 1;
		font-weight: 500;
	}

	&__desktop {
		display: flex;
		gap: 2em;

		& a {
			color: var(--color-secondary);
			font-weight: 500;
		}
	}

	&__mobile {
		position: absolute;
		width: 100%;
		height: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #0f0f0f;
		grid-template-areas: "links " "footer";
		display: grid;
		grid-template-rows: 1fr max-content;
		padding: 1em;
		z-index: 10;
		visibility: hidden;

		& .mobile__links {
			font-size: 70px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			& a {
				color: var(--color-secondary);
			}
		}

		& .mobile__footer {
			display: flex;
			color: var(--color-secondary);
			justify-content: space-between;
			align-items: flex-end;
		}
	}

	&__button {
		display: flex;
		flex-direction: column;
		gap: 5px;
		position: relative;
		cursor: pointer;
		z-index: 11;

		& span {
			@extend %button-style;
		}

		& span:nth-child(2) {
			width: $width-min;
		}

		& span:nth-child(2) {
			transform: translateY($traslateY-min) rotate($rotate-min);
		}

		& span:nth-child(1) {
			transform: translateY($traslateY-min) rotate($rotate-min);
		}
	}

	&__button.open {
		& span {
			@extend %button-style;
		}

		& span:nth-child(2) {
			width: $width;
		}

		& span:nth-child(2) {
			transform: translateY(-$traslateY) rotate($rotate);
		}

		& span:nth-child(1) {
			transform: translateY($traslateY) rotate(-$rotate);
		}
	}
}