	.home {
		@include size(100%);
		grid-area: main;
		display: grid;
		grid-template-areas: "content" "indicators";
		grid-template-rows: 1fr max-content;

		overflow-y: hidden;

		&__content {
			grid-area: content;
			@include size(100%, auto);
			height: auto;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1em 0 0 0;

			& .content__title {
				position: absolute;
				z-index: 2;
				height: max-content;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: max-content;
				transform: translateY(30%);

				@each $media in mb,
				sm {
					@include media($media) {
						transform: translateY(60%);
					}
				}

				& .mask {
					clip-path: polygon(150% 0px, 150% 100%, -100% 105.29%, -100% 0px);
					width: 100%;
				}

				& span {
					@include rfs(9.375rem, font-size);
					@include rfs(7.5rem, line-height);
					@include rfs(-1.0594rem, letter-spacing);

					@include media(xxl) {
						@include rfs(15rem, font-size);
						@include rfs(11.25rem, line-height);
					}

					@each $media in mb,
					sm {
						@include media($media) {
							@include rfs(-0.4375rem, letter-spacing);
						}
					}

					color: var(--color-secondary);
					text-transform: uppercase;
					font-weight: var(--weight-regular);
					position: relative;
				}

				& .mask:nth-child(1) span {
					left: -10%;
				}

				& .mask:nth-child(2) span {
					left: 20%;
				}


				& .mask:nth-child(3) span {
					left: 40%;
				}

			}

			& .content__image {
				@include size(100%);
				grid-gap: 1em;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;

				& .gallery__item {
					color: var(--color-secondary);
					text-transform: uppercase;
					display: flex;
					flex-direction: column;
					width: 100%;
					pointer-events: none;
					text-align: center;
					align-items: center;
					gap: 1em;
					cursor: pointer;
					position: relative;

					// transition: transform 0.8s cubic-bezier(0.45, 0.05, 0.55, 0.95);

					& .item__img {
						width: 100%;
						height: auto;

						& .loader__counter {
							display: none !important;
						}

						& img {
							@include size(100%, 50vh);
							object-fit: cover;

							@each $media in mb,
							sm {
								@include media($media) {
									height: 100%;
								}
							}
						}
					}

					& .item__text {
						opacity: 1;
					}

					& .item__link {
						@include size(100%, 100%);
						position: absolute;
					}
				}

				& .button_slider {

					display: flex;
					justify-content: flex-end;
					gap: 1em;
					width: 100%;

					& button.button:nth-child(2)>svg:nth-child(1) {
						transform: rotate(180deg);
					}

					& button {
						@extend %btn;
					}
				}
			}
		}

		/** LOADER .  LOADER ANIMATION & ANIMATION ROTATE [01/03]
		
		ACA SE PONE EL LOADER DE LA PAGINA DE INICIO Y SE ESTABLECE TODO LO RELACIONADO AL CONTADOR PARA EL PROGRESO DE LA CARGA DE LA PAGINA

		TAMBIÉN SE CARGA EL ROTATE PARA LAS IMAGENES
		
		**/

		&__content.mobile__animation {
			& .content__image {

				& .gallery__item {

					@each $media in mb,
					sm {
						@include media($media) {
							display: grid;
							height: 100%;
							grid-template-rows: 1fr 0.2fr;
						}
					}



					& .item__img {

						@each $media in mb,
						sm {
							@include media($media) {
								width: 100% !important;
								height: 100% !important;
							}
						}

						& .loader__counter {
							display: none !important;
						}

						& img {

							@each $media in mb,
							sm {
								@include media($media) {
									height: 100% !important;
								}
							}
						}
					}

					& .item__text {

						@each $media in mb,
						sm {
							@include media($media) {
								@include size(100%, 100%);
							}
						}
					}

				}
			}
		}

		&__content.loader__animation {

			& .content__image {
				display: flex;
				justify-content: center;
				align-items: center;

				@each $media in mb,
				sm {
					@include media($media) {
						transform: translateY(-10%);
					}
				}
			}

			& .gallery__item {
				position: absolute;
				bottom: 0;

				& .item__img {
					background: var(--color-secondary);
					width: 1%;
					height: 0vh;
					overflow: hidden;


					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					& .loader__counter:nth-child(1) {
						display: flex;
						position: absolute;
						bottom: 0;
						z-index: 99999;
						@include rfs(6.25rem, font-size);
						right: 50%;
						height: 100%;
						align-items: flex-start;
						margin: 0 30px;

						&::after {
							content: '%';
						}
					}

					& img {
						opacity: 0;
						width: 40vh;
					}
				}

				& .item__text {
					opacity: 0;
				}
			}

			& .swiper-slide:nth-child(1) .gallery__item {

				& .loader__counter {
					display: flex !important;
				}
			}

			& .gallery__item {
				& .loader__counter {
					display: none !important;
				}
			}


			/** SLIDER SWIPPER RESET **/

			.swiper.swiper-initialized.swiper-horizontal {
				@include size(100%, 100%);
			}

			.swiper-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
			}

			.swiper-slide {
				position: absolute;
				display: flex;
				justify-content: center;

				@each $media in mb,
				sm {
					@include media($media) {
						width: 40vh !important;
						margin: 0 !important;
					}
				}

			}

			& .swiper-wrapper .swiper-slide:nth-last-child(1) .gallery__item {
				transform: none !important;
			}

			& .swiper-wrapper .swiper-slide:nth-last-child(1) {
				z-index: 1;
			}
		}

		&__content.animation__rotate {

			& .swiper-slide:nth-child(5) .gallery__item {
				transform: rotate(10deg) translateY(-10px);

				@each $media in mb,
				sm {
					@include media($media) {
						transform: rotate(5deg) translateY(-5px);
					}
				}
			}

			& .swiper-slide:nth-child(4) .gallery__item {
				transform: rotate(15deg) translateY(-15px);

				@each $media in mb,
				sm {
					@include media($media) {
						transform: rotate(7deg) translateY(-7px);
					}
				}
			}

			& .swiper-slide:nth-child(3) .gallery__item {
				transform: rotate(20deg) translateY(-20px);

				@each $media in mb,
				sm {
					@include media($media) {
						transform: rotate(9deg) translateY(-9px);
					}
				}
			}

			& .swiper-slide:nth-child(2) .gallery__item {
				transform: rotate(25deg) translateY(-25px);

				@each $media in mb,
				sm {
					@include media($media) {
						transform: rotate(11deg) translateY(-11px);
					}
				}
			}
		}


		&__button {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			grid-gap: 1em;
			padding: 1em 0;

			@each $media in mb,
			sm {
				@include media($media) {
					display: none !important;
				}
			}

			& .button {
				@extend %btn;
			}

			& .button__next svg {
				transform: rotate(180deg);
			}
		}

		&__indicators {
			grid-area: indicators;
			gap: 1em;
			height: 100%;
			color: var(--color-secondary);
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			overflow: clip;

			& .indicators {
				@include rfs(6.25rem, font-size);

				@each $media in mb,
				sm {
					@include media($media) {
						font-size: 3.125rem;
					}
				}

				display: flex;
				justify-content: space-between;
				text-transform: uppercase;
				position: relative;
				overflow: clip;

				// center
				grid-column: 1 / -1;
				grid-row: 1 / -1;

				&__text {
					text-align: end;
					width: max-content;
					align-self: center;
				}
			}

			& .footerExtend {
				// center
				grid-column: 1 / -1;
				grid-row: 1 / -1;
			}

			& hr {
				position: absolute;
				width: 100%;

				@each $media in mb,
				sm,
				mb {
					@include media($media) {
						display: none !important;
					}
				}
			}
		}
	}

	.swiper {
		width: 100% !important;
		height: 100%;
	}

	.home__content .content__title,
	.home__indicators,
	.home__button,
	.content__image {
		opacity: 0;
	}