.template {
	padding: 1em;
	width: 100%;
	height: 100%;
}

.template.is-home {
	display: grid;
	grid-template-areas: "header" "main";
	grid-template-rows: max-content 1fr;
	opacity: 0;
}

.template.is-about {
	display: grid;
	grid-template-areas: "header" "main";
	grid-template-rows: max-content 1fr;
}


%btn {
	background: #0000;
	border: 1px solid var(--color-secondary);
	border-radius: 3rem;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in;

	@each $media in md,
	sm,
	mb {
		@include media($media) {
			width: 100%;
		}
	}
}

%btn:hover {
	background: var(--color-secondary);
	color: var(--color-primary);
	border: 1px solid #0000;
	cursor: pointer;

	& svg path {
		transition: all 0.2s ease-in;
		stroke: var(--color-primary);
	}
}