:root {
	--font-theme: 'Public Sans', sans-serif;
	;
	// colors
	--color-primary: #000;
	--color-secondary: #ebece5;
	--color-tertiary: #565656;
	// weight
	--weight-light: 200;
	--weight-regular: 300;
}